<!-- templates/add_team_member.html -->
{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block banner_text %}REGISTER{% endblock %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="header-info">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="company-name">
                        <p>{{ team_name }}</p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="captain-info">
                        <p>Captain Information</p>
                    </div>
                </div>
                {% for captain in captains %}
                    <div class="row cap-information">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Name:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">{{ captain.name }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Email:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">{{ captain.email }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Phone Number:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">{{ captain.phone }}</p>
                            </div>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr class="custom-hr">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- form inputs -->
        <div class="register-form">
            <div class="col-12 text-center">
                <div class="captain-info">
                    <p>Player Information</p>
                </div>
            </div>
            <div class="form-container">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-card-register">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.name.errors }}
                                    <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.name class="form-control" placeholder="Enter name" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.gender.errors }}
                                    <label for="{{ form.gender.id_for_label }}" class="form-label">{{ form.gender.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.gender class="form-select" placeholder="Enter gender" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.email.errors }}
                                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.email class="form-control" placeholder="Enter email" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.phone.errors }}
                                    <label for="{{ form.phone.id_for_label }}" class="form-label">{{ form.phone.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.phone class="form-control" placeholder="Enter phone number" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.ghin_number.errors }}
                                    <label for="{{ form.ghin_number.id_for_label }}" class="form-label">{{ form.ghin_number.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.ghin_number class="form-control" placeholder="Enter GHIN Number" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.tshirt_size.errors }}
                                    <label for="{{ form.tshirt_size.id_for_label }}" class="form-label">{{ form.tshirt_size.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    {% render_field form.tshirt_size class="form-select" placeholder="Enter T-Shirt Size" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.meal_preference.errors }}
                                    <label for="{{ form.meal_preference.id_for_label }}" class="form-label">{{ form.meal_preference.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    {% render_field form.meal_preference class="form-select" placeholder="Enter Meal Preference" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.cart_sitting_preference.errors }}
                                    <label for="{{ form.cart_sitting_preference.id_for_label }}" class="form-label">{{ form.cart_sitting_preference.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    {% render_field form.cart_sitting_preference class="form-select" placeholder="Enter Cart Sitting Preference" %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-card-register">
                        <div class="row">
                            <div class="terms-text">
                                <h1>TERMS OF USE</h1>
                                <h2>The standard Lorem Ipsum passage, used since the 1500s</h2>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                <p>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</p>
                                <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>
                                <p>1914 translation by H. Rackham</p>
                                <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                            </div>
                            <div class="input-margin">
                                <div class="form-check form-check-inline">
                                    {{ form.terms_accepted.errors }}
                                    {% render_field form.terms_accepted class="form-check-input" %}
                                    <label for="{{ form.terms_accepted.id_for_label }}" class="form-check-label">
                                        I agree to the terms and conditions above.
                                        <span class="text-asterisk"></span>
                                    </label>
                                </div>
                            </div>
                        </div>                
                    </div>
                    <div class="button-container d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

