<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="bootstrap-5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rozha+One&display=swap"
        rel="stylesheet">
</head>

<body class="edit-register-team">
    <div class="container-fluid p-0">
        <nav class="navbar navbar-expand-lg cus-navbar">
            <div class="container-fluid p-0">
                <div class="navbar-brand" href="#">
                    <img src="./images/w-Falcon-logo.png" alt="Logo">
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav top-bar">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Falcon Cup League</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Falcon Cup 2024</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Falcon Cup 2025</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary login-btn">Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid p-0">
        <div class="register-team-heading d-flex align-items-center">
            <div class="container">
                <div class="d-flex">
                    <img class="mr-15" src="./images/left-arrow.svg" alt="">
                    <h4 class="sub-header">Team Members</h4>
                </div>
            </div>
        </div>
    </div>

    <!-- information -->
    <div class="container">
        <div class="main-content">

            <!-- login inputs -->
            <div class="register-form">
                <div class="form-container">
                    <div class="form">
                        <div class="form-card-register">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">First Name<span
                                                class="text-askrisk">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter first name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Last Name<span
                                                class="text-askrisk">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter last name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Gender<span
                                                class="text-askrisk">*</span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Corporate Title<span
                                                class="text-askrisk">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter corporate title">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Email address<span
                                                class="text-askrisk">*</span>
                                        </label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Cell Phone Number<span
                                                class="text-askrisk">*</span>
                                        </label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter cell phone number">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <label for="exampleFormControlInput1" class="form-label">GHIN Status<span
                                            class="text-askrisk">*</span>
                                    </label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>— Please chose an option—</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">GHIN No<span
                                                class="text-askrisk"></span>
                                        </label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter ghin no">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">T-Shirt Size<span
                                                class="text-askrisk"></span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Meal Preference<span
                                                class="text-askrisk"></span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Cart Sitting
                                            Preference<span class="text-askrisk"></span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Player Level<span
                                                class="text-askrisk"></span>
                                        </label>
                                        <div class="player-lvl">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">Team Member</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Captain</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-container d-flex justify-content-end">
                            <button type="button" class="btn outline-button mx-3">Cancel</button>
                            <button type="button" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
    <div class=" container-fluid p-0 main-footer">
        <div class="footer d-flex align-items-center flex-column">
            <div class="footer-tabs">
                <ul class="nav justify-content-center">
                    <li class="nav-item ">
                        <a class="nav-link " aria-current="page" href="#">Falcon Cup League</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Falcon Cup 2024</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Falcon Cup 2025</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link icon-facebook" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Falcon Cup© 2024 All Rights Reserved.</p>
            </div>
        </div>

    </div>
</body>

</html>