<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="bootstrap-5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rozha+One&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-0">
        <!-- <div class="navbar-v1">
            <ul class="nav justify-content-end cus-navbar">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Falcon Cup League</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Falcon Cup 2024</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Falcon Cup 2025</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                </li>
            </ul>
        </div> -->
        <nav class="navbar navbar-expand-lg cus-navbar">
            <div class="container-fluid p-0">
                <a class="navbar-brand " href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav top-bar">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Falcon Cup League</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Falcon Cup 2024</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Falcon Cup 2025</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary login-btn">Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid p-0">
        <div class="cus-banner d-flex align-items-center">
            <div class="container">
                <p class="banner-text">LOGIN</p>
            </div>
        </div>
    </div>

    <!-- login inputs -->
    <div class="container">
        <div class="form-container d-flex justify-content-center">
            <div class="form">
                <div class="login-form-card">
                    <div class="input-margin">
                        <label for="exampleFormControlInput1" class="form-label">Email address<span
                                class="text-asterisk">*</span>
                        </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter email">
                    </div>
                    <div class="input-margin">
                        <label for="exampleFormControlInput1" class="form-label">Password<span
                                class="text-asterisk">*</span></label>
                        <input type="password" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter password">
                    </div>
                </div>
                <div class="button-container d-flex flex-row-reverse">
                    <button type="button" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class=" container-fluid p-0 main-footer">
        <div class="footer d-flex align-items-center flex-column">
            <div class="footer-tabs">
                <ul class="nav justify-content-center">
                    <li class="nav-item ">
                        <a class="nav-link " aria-current="page" href="#">Falcon Cup League</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Falcon Cup 2024</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Falcon Cup 2025</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link icon-facebook" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Falcon Cup© 2024 All Rights Reserved.</p>
            </div>
        </div>

    </div>
</body>
<script src="
https://cdn.jsdelivr.net/npm/fontello-installer@0.0.2/lib/fontello.min.js
"></script>


</html>