<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="bootstrap-5.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="custom.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Rozha+One&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container-fluid p-0">
        <!-- <div class="navbar-v1">
            <ul class="nav justify-content-end cus-navbar">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Falcon Cup League</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Falcon Cup 2024</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Falcon Cup 2025</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                </li>
            </ul>
        </div> -->
        <nav class="navbar navbar-expand-lg cus-navbar">
            <div class="container-fluid p-0">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav top-bar">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Falcon Cup League</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Falcon Cup 2024</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Falcon Cup 2025</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary login-btn">Login</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container-fluid p-0">
        <div class="cus-banner d-flex align-items-center">
            <div class="container">
                <p class="banner-text">REGISTER</p>
            </div>
        </div>
    </div>

    <!-- information -->
    <div class="container">
        <div class="main-content">
            <div class="header-info">
                <div class="row">
                    <div class=" col-12 text-center">
                        <div class="company-name">
                            <p>MVP Sports</p>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                        <div class="captain-info">
                            <p>Captain Information</p>
                        </div>
                    </div>
                    <div class="row cap-information">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Name:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">Robert N. Hopkins</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Email:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">robertnhopkins@jourrapide.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Phone Number:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">630-670-4179</p>
                            </div>
                        </div>
                    </div>
                    <hr class="custom-hr">
                    <div class="row cap-information">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Name:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">Robert N. Hopkins</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Email:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">robertnhopkins@jourrapide.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3">
                                <p class="info-title">Phone Number:</p>
                            </div>
                            <div class="col-12 col-md-6 col-lg-9">
                                <p class="info-title-ans">630-670-4179</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- login inputs -->
            <div class="register-form">
                <div class="form-container">
                    <div class="form">
                        <div class="form-card-register">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">First Name<span
                                                class="text-asterisk">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter first name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Last Name<span
                                                class="text-asterisk">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter last name">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Gender<span
                                                class="text-asterisk">*</span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Corporate Title<span
                                                class="text-asterisk">*</span>
                                        </label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter corporate title">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Email address<span
                                                class="text-asterisk">*</span>
                                        </label>
                                        <input type="email" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter email">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Cell Phone Number<span
                                                class="text-asterisk">*</span>
                                        </label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter cell phone number">
                                    </div>
                                </div>

                                <div class="col-12 col-md-6">
                                    <label for="exampleFormControlInput1" class="form-label">GHIN Status<span
                                            class="text-asterisk">*</span>
                                    </label>
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>— Please chose an option—</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">GHIN No<span
                                                class="text-asterisk"></span>
                                        </label>
                                        <input type="number" class="form-control" id="exampleFormControlInput1"
                                            placeholder="Enter ghin no">
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">T-Shirt Size<span
                                                class="text-asterisk"></span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Meal Preference<span
                                                class="text-asterisk"></span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Cart Sitting
                                            Preference<span class="text-asterisk"></span>
                                        </label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>— Please chose an option—</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="input-margin">
                                        <label for="exampleFormControlInput1" class="form-label">Player Level<span
                                                class="text-asterisk"></span>
                                        </label>
                                        <div class="player-lvl">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio1" value="option1">
                                                <label class="form-check-label" for="inlineRadio1">Team Member</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                    id="inlineRadio2" value="option2">
                                                <label class="form-check-label" for="inlineRadio2">Captain</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="button-container d-flex flex-row-reverse">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop">Register</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade registering-success-modal" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header pb-0">
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body text-center pt-0">
                                        <div class="success-icon">
                                            <img src="" alt="">
                                        </div>
                                        <div class="content">
                                            <img class="mb-3" src="./images/success.svg" alt="">
                                            <h4 class="text-white py-2">Thanks for Registering for the Form</h4>
                                            <p class="text-white mb-3">The form was submitted successfully.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- footer -->
    <div class=" container-fluid p-0 main-footer">
        <div class="footer d-flex align-items-center flex-column">
            <div class="footer-tabs">
                <ul class="nav justify-content-center">
                    <li class="nav-item ">
                        <a class="nav-link " aria-current="page" href="#">Falcon Cup League</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Falcon Cup 2024</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Falcon Cup 2025</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Rules & Guidelines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">About Falcon Cup</a>
                    </li>
                </ul>
            </div>
            <div class="socials">
                <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link icon-facebook" aria-current="page" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1" aria-disabled="true"></a>
                    </li>
                </ul>
            </div>
            <div class="copyright">
                <p>Falcon Cup© 2024 All Rights Reserved.</p>
            </div>
        </div>

    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

</html>