<!-- templates/team_member_create.html -->
{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block title %}Register{% endblock %}

{% block banner_text %}REGISTER{% endblock %}

{% block content %}
<div class="container">
    <div class="main-content">
        <div class="header-info">
            <div class="row">
                <div class=" col-12 text-center">
                    <div class="company-name">
                        <p>MVP Sports</p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <div class="captain-info">
                        <p>Captain Information</p>
                    </div>
                </div>
                <div class="row cap-information">
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 info-title">Name:</div>
                        <div class="col-12 col-md-6 col-lg-9">Robert N. Hopkins</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 info-title ">Email:</div>
                        <div class="col-12 col-md-6 col-lg-9">robertnhopkins@jourrapide.com</div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 col-lg-3 info-title ">Phone Number:</div>
                        <div class="col-12 col-md-6 col-lg-9">630-670-4179</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- login inputs -->
        <div class="register-form">
            <div class="form-container">
                <form action="" method="post" novalidate>
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <div class="form-card-register">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    {{ form.name.errors }}
                                    <label for="{{ form.name.id_for_label }}" class="form-label">{{ form.name.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.name class="form-control" placeholder="Enter name" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.gender.id_for_label }}" class="form-label">{{ form.gender.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.gender class="form-control" placeholder="Enter gender" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.email class="form-control" placeholder="Enter email" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.phone.id_for_label }}" class="form-label">{{ form.phone.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.phone class="form-control" placeholder="Enter phone number" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.ghin_status.id_for_label }}" class="form-label">{{ form.ghin_status.label }}
                                        <span class="text-asterisk">*</span>
                                    </label>
                                    {% render_field form.ghin_status class="form-control" placeholder="Enter GHIN Status" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.ghin_number.id_for_label }}" class="form-label">{{ form.ghin_number.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    {% render_field form.ghin_number class="form-control" placeholder="Enter GHIN Number" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.tshirt_size.id_for_label }}" class="form-label">{{ form.tshirt_size.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    {% render_field form.tshirt_size class="form-control" placeholder="Enter T-Shirt Size" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.meal_preference.id_for_label }}" class="form-label">{{ form.meal_preference.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    {% render_field form.meal_preference class="form-control" placeholder="Enter Meal Preference" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.cart_sitting_preference.id_for_label }}" class="form-label">{{ form.cart_sitting_preference.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    {% render_field form.cart_sitting_preference class="form-control" placeholder="Enter Cart Sitting Preference" %}
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-margin">
                                    <label for="{{ form.player_level.id_for_label }}" class="form-label">{{ form.player_level.label }}
                                        <span class="text-asterisk"></span>
                                    </label>
                                    <div class="player-lvl">
                                        {% for radio in form.player_level %}
                                        <div class="form-check form-check-inline">
                                            {{ radio }}
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="button-container d-flex flex-row-reverse">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}